<html>
  <head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Índice de vídeos</title>
    <link rel="stylesheet" href="./style.css" type="text/css">
  </head>
  <body>
    <style>
		ul { 
			font-size: 30px;
    	}
		header{
			margin-bottom: 80px;
		}
		body{
			margin: 30px 50px;
		}
    </style>
    <header>
      <h1>
		STREAMING IN HOME
      </h1>
    </header>
	<h3>Available videos</h3>
	<ul>
	  <% files.map(file => { %>
		<li>
		  <a href=" <%=file.url %>"><%= file.name %></a>
		</li>
	  <% }) %>
	</ul>
  </body>
</html>