<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../player.css" type="text/css" />
		<title><%=videoName%></title>
	</head>

	<body>
		<h2><%=videoName%></h2>
		<video controls autoplay>
			<source src="/videoStreaming/<%=video%>" type="video/mp4" />
		</video>
	</body>
</html>
